<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <title>Nick Sanford - $title$</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85405282-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <main class="wrapper">
      <div class="highbar">&nbsp;</div>
      <div class="container no-left-margin">
        <div class="row">
          <div class="column profile-header">
            <div class="row">
              <h4 class='float-left'>
                <a href="/" class="initial-link">NS</a>
              </h4>
            </div>
            <div class="me">
              <a href="/">
                <img src="https://www.gravatar.com/avatar/4660a631f578dde60b765f3755ce6b3c?s=160" alt="Gravatar of Nick Sanford (傅有嘉) " title="Gravatar of Nick Sanford (傅有嘉)" class="profile-pic" />
              </a>
            </div>
            <div class="row">
              <div class="column name">
                <h5>Nick Sanford</h5>
              </div>
            </div>
            <div class="row">
              <div class="column">I Love Functional Programing,</div>
            </div>
            <div class="row">
              <div class="column">and Building Awesome Software in New York</div>
            </div>
            <div class="row links">
              <div class="column">
                <a href="https://github.com/nicksanford">
                  github
                </a>
              </div>
              <div class="column">
                <a href="mailto:nicholascsanford@gmail.com">
                  <i class="fa fa-envelope share-icon"></i>
                </a>
                <a href="https://www.linkedin.com/in/nicksanforddev">
                  <i class="fa fa-linkedin share-icon"></i>
                </a>
              </div>
              <div class="column">
                <a href="/projects.html">projects</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div id="content">
              <h2 class="title">$title$</h2>
              $body$
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
